# Dependencies and AdonisJS build
node_modules
build
tmp
**/.venv
**/__pycache__

# Secrets
**/.env*
**/credentials.json
**/token.json

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea

# Platform specific
**/.DS_Store


_legacy
