{% extends "lovefi/layout.html" %}
{% block title %}
  Transactions
{% endblock title %}
{% block content %}
  <h1>Transactions</h1>
  {% if transactions %}
    <ul>
      {% for transaction in transactions %}
        <li>
          <a href="{% url 'transaction_show' transaction.id %}">{{ transaction.date }}: $ {{ transaction.amount }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No transactions available.</p>
  {% endif %}
  <a href="{% url 'transaction_create' %}">Create Transaction</a>
{% endblock content %}
