<h1>LoveFI</h1>
<a href="{% url 'index' %}">Home</a>
<a href="{% url 'accounts_index' %}">Accounts</a>
<a href="{% url 'transactions_index' %}">Transactions</a>
<h2>Transaction {{ transaction.description }}</h2>
<p>Amount: {{ transaction.amount }}</p>
<p>Account: {{ transaction.account.name }}</p>
<p>Currency: {{ transaction.currency_code }}</p>
<p>Date: {{ transaction.date }}</p>
<p>Description: {{ transaction.description }}</p>
<a href="{% url 'transaction_edit' transaction.id %}">Edit</a>
<a href="{% url 'transaction_delete' transaction.id %}">Delete</a>
