{% extends "lovefi/layout.html" %}
{% block title %}
    Transaction
{% endblock title %}
{% block content %}
    <h1>Transaction {{ transaction.description }}</h1>
    <p>Amount: {{ transaction.amount }}</p>
    <p>Account: {{ transaction.account.name }}</p>
    <p>Date: {{ transaction.date }}</p>
    <p>Description: {{ transaction.description }}</p>
    <a href="{% url 'transaction_edit' transaction.id %}">Edit</a>
    <a href="{% url 'transaction_delete' transaction.id %}">Delete</a>
{% endblock content %}
