{% extends "lovefi/layout.html" %}
{% block title %}
  Accounts
{% endblock title %}
{% block content %}
  <h1>Accounts</h1>
  {% if accounts %}
    <ul>
      {% for account in accounts %}
        <li>
          <a href="{% url 'account_show' account.id %}">{{ account.institution.name }}: {{ account.name }} ({{ account.number }})</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No accounts available.</p>
  {% endif %}
  <a href="{% url 'account_create' %}">Create Account</a>
{% endblock content %}
